Host janus0
  Hostname 0.0.0.0
  Port 2999 
  StrictHostKeyChecking no
  User janususer

Host janus1
  Hostname 0.0.0.0 
  Port 2888
  StrictHostKeyChecking no
  User janususer

Host janus2
  Hostname 0.0.0.0
  Port 2777
  StrictHostKeyChecking no
  User janususer

Host janus3
  Hostname 0.0.0.0
  Port 2666
  StrictHostKeyChecking no
  User janususer

Host janus4
  Hostname 0.0.0.0 
  Port 2777
  StrictHostKeyChecking no
  User janususer

Host janus5
  Hostname 0.0.0.0
  Port 2666
  StrictHostKeyChecking no
  User janususer

Host local
	Hostname 0.0.0.0
	User butters

Host *
	User butters
	StrictHostKeyChecking no

